#
# The Alluxio Open Foundation licenses this work under the Apache License, version 2.0
# (the "License"). You may not use this work except in compliance with the License, which is
# available at www.apache.org/licenses/LICENSE-2.0
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
# either express or implied, as more fully set forth in the License.
#
# See the NOTICE file distributed with this work for information regarding copyright ownership.
#

{{- $name := include "alluxio.name" . }}
{{- $fullName := include "alluxio.fullname" . }}
{{- $chart := include "alluxio.chart" . }}
{{- $hostMountPath := include "alluxio.mount.basePath" "" }}
{{- $alluxioFuseMountPoint := include "alluxio.mount.basePath" "/fuse" }}
{{- $alluxioFuseLogDir := include "alluxio.basePath" "/logs"}}
{{- $alluxioFuseLogVolumeName := include "alluxio.getVolumeName" (dict "prefix" $fullName "component" "fuse-log") }}

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ $fullName }}-csi-fuse-config
  labels:
    name: {{ $fullName }}-csi-fuse-config
    app: {{ $name }}
    chart: {{ $chart }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  alluxio-csi-fuse.yaml: |
    kind: Pod
    apiVersion: v1
    metadata:
      name: {{ $fullName }}-fuse
      labels:
        name: {{ $fullName }}-fuse
        app: {{ $name }}
        role: alluxio-fuse
    spec:
      securityContext:
        runAsUser: {{ .Values.fuse.user }}
        runAsGroup: {{ .Values.fuse.group }}
        fsGroup: {{ .Values.fsGroup }}
      hostNetwork: {{ .Values.hostNetwork }}
      dnsPolicy: {{ .Values.dnsPolicy | default (.Values.hostNetwork | ternary "ClusterFirstWithHostNet" "ClusterFirst") }}
      {{- if .Values.serviceAccountName }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      {{- end }}
      {{- if .Values.imagePullSecrets }}
    {{ include "alluxio.imagePullSecrets" . | indent 2 }}
      {{- end}}
      initContainers:
      - name: umount-path
        image: {{ .Values.image }}:{{ .Values.imageTag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          privileged: true # required by bidirectional mount
        command: [ "/bin/sh", "-c" ]
        args:
          - umount -l {{ $alluxioFuseMountPoint }} || true
        volumeMounts:
          - name: alluxio-fuse-mount
            mountPath: {{ $hostMountPath }}
            mountPropagation: Bidirectional
      - name: create-alluxio-fuse-dir
        image: {{ .Values.image }}:{{ .Values.imageTag }}
        imagePullPolicy: {{ .Values.imagePullPolicy }}
        command: [ "mkdir", "-p", {{ $alluxioFuseMountPoint }}]
        volumeMounts:
          - name: alluxio-fuse-mount
            mountPath: {{ $hostMountPath }}
      {{- if .Values.master.enabled }}
      - name: wait-master
        image: {{ .Values.image }}:{{ .Values.imageTag }}
        command: ["/bin/sh", "-c"]
        args:
          - until nslookup {{ $fullName }}-master-0;
            do sleep 2;
            done
      {{- end }}
      containers:
        - name: alluxio-fuse
          image: {{ .Values.image }}:{{ .Values.imageTag }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          {{- if .Values.fuse.resources }}
{{ include "alluxio.resources" .Values.fuse.resources | indent 10 }}
          {{- end }}
          command: ["/bin/sh", "-c"]
          args:
            - umount -l {{ $alluxioFuseMountPoint }};
              {{- $mountTableSource := get .Values.properties "alluxio.mount.table.source" }}
              {{- if or (eq $mountTableSource "ETCD") (eq $mountTableSource "STATIC_FILE") }}
              /entrypoint.sh fuse {{ $alluxioFuseMountPoint }} {{- range .Values.fuse.mountOptions }} -o {{ . }} {{- end }}
              {{- else }}
              /entrypoint.sh fuse {{ required "The path of the dataset must be set." .Values.dataset.path }} {{ $alluxioFuseMountPoint }} {{- range .Values.fuse.mountOptions }} -o {{ . }} {{- end }}
              {{- end }}
          env:
          {{- range $key, $value := .Values.fuse.env }}
          - name: "{{ $key }}"
            value: "{{ $value }}"
          {{- end }}
          securityContext:
            privileged: true # required by bidirectional mount
          lifecycle:
            preStop:
              exec:
                command: ["fusermount", "-u", {{ $alluxioFuseMountPoint }}]
          volumeMounts:
            - name: {{ $fullName }}-alluxio-conf
              mountPath: /opt/alluxio/conf
            - name: alluxio-fuse-mount
              mountPath: {{ $hostMountPath }}
              mountPropagation: Bidirectional
            {{- if .Values.hostPathForLogging }}
            - name: {{ $alluxioFuseLogVolumeName }}
              mountPath: {{ $alluxioFuseLogDir }}
            {{- end }}
            {{- if .Values.secrets }}
    {{- include "alluxio.volumeMounts" (dict "volumeMounts" .Values.secrets.fuse "readOnly" true) | indent 8 }}
            {{- end }}
            {{- if .Values.configMaps }}
    {{- include "alluxio.volumeMounts" (dict "volumeMounts" .Values.configMaps.fuse "readOnly" true) | indent 8 }}
            {{- end }}
            {{- if .Values.pvcMounts }}
    {{- include "alluxio.volumeMounts" (dict "volumeMounts" .Values.pvcMounts.fuse "readOnly" false) | indent 8 }}
            {{- end }}
      restartPolicy: Always
      volumes:
        - name: alluxio-fuse-mount
          hostPath:
            path: {{ $hostMountPath }}
            type: DirectoryOrCreate
        - name: {{ $fullName }}-alluxio-conf
          configMap:
            name: {{ $fullName }}-alluxio-conf
        {{- if .Values.hostPathForLogging }}
        - name: {{ $alluxioFuseLogVolumeName }}
          hostPath:
            path: {{ .Values.fuse.hostPathForLogs }}
            type: DirectoryOrCreate
        {{- end }}
        {{- if .Values.secrets }}
    {{- include "alluxio.secretVolumes" .Values.secrets.fuse | indent 4 }}
        {{- end }}
    {{- if .Values.configMaps }}
        {{- include "alluxio.configMapVolumes" .Values.configMaps.fuse | indent 4 }}
    {{- end }}
        {{- if .Values.pvcMounts }}
    {{- include "alluxio.persistentVolumeClaims" .Values.pvcMounts.fuse | indent 4 }}
        {{- end }}
